{% extends 'base.html.twig' %}
{% block title %}Episode{{ episode.number }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-0">Episode {{ episode.number }} of the program {{ program.title }}</h1>
            <p>Title: {{ episode.title }}</p>
            <p>Season {{season.number}} <p>
            <p>Synopsis:</br> {{episode.synopsis}} <p>
            <a href="{{ path('program_show', {'id': program.id}) }}">Back to the program</a>
    </div>
    

{% endblock %}