{% extends 'base.html.twig' %}

{% block title %}- wildprograms{% endblock %}

{% block body %}

<h1 class="text-center">Programs </h1>
<h3 class="caption text-center">All our wildprograms only for you !</h3>

<div class="container main-content-programs">
<div class="text-right">
	<a href="{{ path('program_new') }}" class="btn btn-primary btn-sm">Create a new program</a>
</div>
<div>
	<div class="container mt-5">
		<div class="row">
			{% for program in programs %}
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="card">
						<img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}">
						<div class="card-body text-center">
							<h5 class="card-title primary">{{ loop.index }}
								/
								{{ program.title }}
								- Category: 
								{{ program.category.name }}</h5>
							<p class="card-text">{{ program.summary}}</p>
							<a href="{{ path("program_show", {  slug: program.slug }) }}" class="btn btn-primary">See the details</a>
						</div>
					</div>
				</div>
			{% else %}
				No program found.
			{% endfor %}
		</div>
	</div>
</div></div><a href="{{ path('app_index') }}">Back to the homepage</a>

</div>
{% endblock %}
