<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand-primary" href="/"><img src="{{ asset('build/logowildseries.png') }}" alt="wildserielogo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/programs">Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actor/">Actors</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{path('program_index')}}">Programs</a>
          <a class="dropdown-item" href="{{path('episode_index')}}">Episodes</a>
          <a class="dropdown-item" href="{{path('season_index')}}">Season</a>
          <a class="dropdown-item" href="#">Actors</a>
        </div>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-user"></i> My Account</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt"></i></a>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}"><i class="far fa-user"></i> Sign in/Register</a>
      </li>
      {% endif %}
      </li>
    </ul>
  </div>
</nav>


